Package: com.nito.pubc
Name: pubc
Version: 1.0
Architecture: iphoneos-arm
Description: Add MFI controller support to pubg. 
Maintainer: Kevin Bradley
Author: Kevin Bradley & Luca Todesco
Section: Tweaks
Depiction: http://nitosoft.com/ATV4/pubc/pubc.json

