Package: com.nito.pubc
Name: pubc
Version: 1.8.1
Architecture: iphoneos-arm
Description: Add MFI controller support to pubg.
Maintainer: Kevin Bradley
Author: Kevin Bradley
Section: Tweaks
Depiction: https://wiki.awkwardtv.org/wiki/Pubc
